<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apply.kumparan">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kumparan">
        <activity android:name=".ui.photodetail.PhotoDetailActivity" android:parentActivityName=".ui.userdetail.UserDetailActivity" android:launchMode="singleTop"/>
        <activity android:name=".ui.userdetail.UserDetailActivity" android:parentActivityName=".ui.detailpost.DetailPostActivity" android:launchMode="singleTop"/>
        <activity android:name=".ui.detailpost.DetailPostActivity" android:parentActivityName=".ui.listpost.ListPostActivity" android:launchMode="singleTop"/>
        <activity android:name=".ui.listpost.ListPostActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>